api_platform:
    title: Gestion Prestations API
    version: 1.0.0
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        pagination_items_per_page: 30
    formats:
        jsonld: ['application/ld+json']
        json: ['application/json']
    swagger:
        api_keys:
            JWT:
                name: Authorization
                type: header
