{% extends 'base.html.twig' %}

{% block title %}Importer un bon de commande{% endblock %}

{% block body %}
<h2>Ajouter un bon de commande depuis une photo</h2>

<form method="post" enctype="multipart/form-data">
    <label for="photo">Photo du bon de commande :</label><br>
    <input type="file" name="photo" accept="image/*" required><br><br>
    <button type="submit">Analyser et importer</button>
</form>
{% endblock %}
